<div class="mentions-container">
  <strong><%= t('views.common.mentioning') %></strong>
  <ul>
    <% report.mentioned_reports.each do |report| %>
      <li>
        <%= Report.model_name.human %>: <a href="<%= report_path(report) %>"><%= report.title %></a>
        <%= Report.human_attribute_name(:user) %>: <a href="<%= user_path(report.user) %>"><%= report.user.name_or_email %></a>
      </li>
    <% end %>
  </ul>
</div>
