<p style="color: green"><%= notice %></p>

<div class="show-item">
  <%= render @book %>
</div>

<nav class="page-nav">
  <%= link_to t(:edit_this_product, product: @product), edit_book_path(@book) %> |
  <%= link_to t(:back_to_products, product: @product), books_path %>

  <%= button_to t(:destroy_this_product, product: @product), @book, method: :delete %>
</nav>
