<div id="<%= dom_id report %>">

  <p>
    <strong><%= :title %>:</strong>
    <%= report.title %>
  </p>

  <p>
    <strong><%= :description %>:</strong>
    <%= report.description %>
  </p>

</div>
