<!DOCTYPE html>
<html>
  <head>
    <title>BooksApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="<%= params[:action] %>">
    <header>
      <% if user_signed_in? %>
        <% unless current_page?('/books') %>
          <%= link_to t('views.common.title_index', name: i18n_pluralize(Book.model_name.human)), books_path %>
        <% end %>
        <% unless current_page?('/users') %>
          <%= link_to t('views.common.title_index', name: i18n_pluralize(User.model_name.human)), user_registration_path %>
        <% end %>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
